/* reset بسيط */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background: #0f1724;
  color: #fff;
  line-height: 1.6;
}

header {
  background: #222;
  color: #fff;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-size: 22px;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin-left: 15px;
  font-size: 16px;
  transition: color 0.3s;
}

nav a:hover,
nav a.active {
  color: #00bcd4;
}

main {
  padding: 40px 20px;
  max-width: 1000px;
  margin:auto;
  
}

h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 28px;
  color: #ffffff;
}
.avatar {
  width: 300px;
  height: 300px;
  display: block;
  margin: 20px auto;
  
}
/* grid عامة للمشاريع والشهادات */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 20px;
}

/* الكروت */
.card {
  background: #0b1220;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  overflow: hidden;
  transition: transform 0.3s;
  text-align: center;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card h3 {
  margin: 15px 0 10px;
  font-size: 20px;
  color: #ffffff;
}

.card p {
  padding: 0 15px 20px;
  font-size: 14px;
  color: #c5c5c5;
}

/* نموذج التواصل */
form {
  max-width: 500px;
  margin: auto;
  background: #0b1220;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

form input,
form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  
}

form button {
  display: block;
  width: 100%;
  padding: 10px;
  background: #00bcd4;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
}

form button:hover {
  background: #0097a7;
}

footer {
  text-align: center;
  padding: 15px;
  background: #222;
  color: #fff;
  margin-top: 40px;
}

